<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-lg max-w-xl w-full">
    <h1
      class="text-lime-900 font-black text-xl capitalize md:flex md:justify-center"
    >
      Cambio de contraseña
    </h1>

    <div *ngIf="cargando" class="flex items-center justify-center mb-4">
      <mat-progress-spinner
        mode="indeterminate"
        color="primary"
        diameter="40"
      ></mat-progress-spinner>
    </div>

    <form
      [formGroup]="reinicioForm"
      class="my-10 bg-white shadow rounded-lg px-10 py-2"
      (ngSubmit)="onSubmit()"
    >
      <div class="my-5">
        <label for="password" class="text-gray-600 block text-xl font-bold"
          >Escribe una nueva Contraseña</label
        >
        <input
          id="password"
          type="password"
          formControlName="password"
          class="w-full mt-2 p-3 border rounded-xl bg-gray-50"
        />

        <div *ngIf="password?.errors">
          <small *ngIf="password.errors?.['required']"
            >La contraseña es obligatoria.</small
          >
          <small *ngIf="password.errors?.['minlength']"
            >La contraseña debe tener al menos 8 caracteres.</small
          >
          <small
            *ngIf="password.errors?.['pattern'] && password.errors?.['pattern']['requiredPattern'].includes('[A-Z]')"
          >
            Debe contener al menos una letra mayúscula.
          </small>
          <small
            *ngIf="password.errors?.['pattern'] && password.errors?.['pattern']['requiredPattern'].includes('[\\W_]')"
          >
            Debe contener al menos un carácter especial.
          </small>
          <small
            *ngIf="password.errors?.['pattern'] && password.errors?.['pattern']['requiredPattern'].includes('\\d')"
          >
            Debe contener al menos un número.
          </small>
        </div>
      </div>

      <div class="my-5">
        <label
          for="repetirPassword"
          class="text-gray-600 block text-xl font-bold"
          >Repite la nueva Contraseña</label
        >
        <input
          id="repetirPassword"
          type="password"
          formControlName="repetirPassword"
          class="w-full mt-2 p-3 border rounded-xl bg-gray-50"
        />

        <div *ngIf="repetirPassword?.errors">
          <small *ngIf="repetirPassword.errors?.['required']"
            >Debes repetir la contraseña.</small
          >
        </div>
        <div
          *ngIf="reinicioForm.errors?.['notSame'] && repetirPassword?.touched"
          class="text-red-500"
        >
          <small>Las contraseñas no coinciden.</small>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="reinicioForm.invalid"
        class="hover:bg-green-950 transition-colors bg-green-900 w-full py-3 text-white uppercase font-bold rounded hover:cursor-pointer"
      >
        Guardar Contraseña
      </button>

      <div *ngIf="errorMessage" class="text-red-500 mt-4">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
